/* CSS debugger */
/* * {
    color:                    hsla(210, 100%, 100%, 0.9) !important;
    background:               hsla(210, 100%,  50%, 0.5) !important;
    outline:    solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;
} */

body {
    color: #333;
}

.header {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.search {
    display: flex;
    justify-content: space-evenly;
}

.search-submit {
    margin-left: 5px;
}

.result {
    border: 1px solid #333;
    height: 100px;
    display: flex;
    align-items: center;
}

.result img {
    height: 90px;
}

.thumbnail {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.post-title {
    font-weight: bold;
}