body {
    color: #333;
}

.header {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.search {
    display: flex;
    justify-content: space-evenly;
}

.search-submit {
    margin-left: 5px;
}